<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Amazona</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">amazona</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <div>
          <div class="row center">
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Slim Shirts</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Slim Shirts</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Slim Shirts</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Slim Shirts</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Slim Shirts</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Slim Shirts</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">All right reserved</footer>
    </div>

    <!-- 
        Create React App
        1. npx create-react-app frontend 
        2. npm start
        3. delete App.css, App.test.js, logo.svg, setupTests.js
        
        https://github.com/basir/amazona/pull/8/files

        commit to github 
        git remote add origin git@github.com:/tanyasep/amazona-app2021.git
        git remote show 
        git remote show origin
        git push origin master
    
      Part 05- build product screen
        1.install react-router-dom
        2. use BrowserRouter and Route for Home Screen
        3. Create HomeScreen.js
        4. Add product list code there
        5. Create ProductScreen.js
        6. ass new route from product details to App.js
        7. create 3 columns for product image, info and action

      part 09: create nodeJs server
        --fix Cannot use import statement outside a module error
          1. go to package.jason
          right after "name": "project name" add "type": "module"
          works in node 12+
        --use nodemon in dev, only watch changes in backend folder 
        if change 'node --experimental-modules backend/server.js' wil run
        'experimental-modules' make it possible to use ES6
        "start" : "nodemon --watch backend --exec node --experimental-modules backend/server.js"  

      part 10-loas product from backend
        --to use path without http: like .post(/api/path) config in frontend/packgage.jason
          "proxy": "http://localhost:8800/api" will redirect to backend 
        --after rendering component useEffect will run only 1 time, accept 2 parameter function and array

      reach part 28


    -->

  </body>
</html>